<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>flash</title>
	<link rel="stylesheet" href="{CSS_PATH}zhudao/css/main.css">
	<link rel="stylesheet" href="{CSS_PATH}zhudao/css/color.css">
</head>
<body>
	<div id="logo">
		<a href="#"><img src="{CSS_PATH}zhudao/images/logo.jpg" alt=""></a>
	</div>
	<div id="navBar">
		<ul class="clearfix">
			<li class="on">首页</li>
			<li>关于</li>
			<li>案例</li>
			<li>动态</li>
			<li>招聘</li>
			<li>联系</li>
		</ul>
	</div>
	<div id="mainwrap">
		<div class="slogan">
			<p>最好也许只是梦想，我们会保持专注，</p>
			<p>努力追逐，为提升中国的居住品质而努力</p>
		</div>
		<ul>
			<li>
				<div class="mask"></div>
				<div class="title">专注</div>
			</li>
			<li>
				<div class="mask"></div>
				<div class="title">专业</div>
			</li>
			<li>
				<div class="mask"></div>
				<div class="title">效率</div>
			</li>
			<li>
				<div class="mask"></div>
				<div class="title">品质</div>
			</li>
		</ul>
	</div>
	<div id="pics">
		<ul class="pics">
			<li>
				<img src="{CSS_PATH}zhudao/images/img1.jpg" alt="">
				<div class="text">介绍介绍</div>
                <div class="more">
                    喵喵喵喵喵喵喵喵喵喵
                </div>
			</li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img2.jpg" alt="">
                <div class="text">猫</div>
                <div class="more">
                    喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img3.jpg" alt="">
                <div class="text">猫猫</div>
                <div class="more">
                    喵喵喵喵喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img4.jpg" alt="">
                <div class="text">大明宫</div>
                <div class="more">
                    喵喵喵喵喵喵喵喵喵喵喵喵喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img5.jpg" alt="">
                <div class="text">1111</div>
                <div class="more">
                    喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img6.jpg" alt="">
                <div class="text">2222</div>
                <div class="more">
                    喵喵喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img7.jpg" alt="">
                <div class="text">3333</div>
                <div class="more">
                    喵喵喵喵喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img8.jpg" alt="">
                <div class="text">444</div>
                <div class="more">
                    喵喵
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img9.jpg" alt="">
                <div class="text">55</div>
                <div class="more">
                    汪汪汪
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img10.jpg" alt="">
                <div class="text">666</div>
                <div class="more">
                    汪汪汪汪汪汪
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/img11.jpg" alt="">
                <div class="text">77</div>
                <div class="more">
                    汪
                </div>
            </li>
		</ul>
        <ul class="dots">
            <li class="open"></li>
        </ul>
	</div>
	<div id="details">
		<div class="fourblock">
			<ul class="hd_part">
				<li class="on"><h6>专注</h6></li>
				<li><h6>专业</h6></li>
				<li><h6>效率</h6></li>
				<li><h6>品质</h6></li>
			</ul>
			<ul class="bd_part">
				<li>
					<div class="aside">
						<img src="{CSS_PATH}zhudao/images/four_1.jpg" alt="">
					</div>
					<div class="text">
						<div class="wrap">
							<div class="inside">
                                <div class="inner">
                                    <div class="block">
                                        <h4>最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力</h4>
                                        <p>专注是一种态度，也是一种精神。“把每一件事都尽力做到最好”一直是居其所坚持的企业精神。
                                            “居其”取自居者得其所之意。于1999年由传世人罗川显示及六位同事在深圳创立。公司从成立至今，一直专注于住宅技术研究和设计服务领域，致力于提升中国住宅的技术及设计水平。
                                        </p>
                                        <p>
                                            得益于中国房地产时常的迅猛发展，居其也逐步成长为想用户提供低层民用建筑的项目策划、设计顾问服务、项目管理咨询及钢结构建造技术的全程技术服务商。
                                        </p>
                                    </div>
                                    <div class="block">
                                        <p>在此期间，居其协助业主完成了数个在业内有高度影响力的地产项目，包括橘郡（北京）、纳帕溪谷（北京）、纳帕尔湾（北京、昆山）、成都麓山国际社区（成都）、杭州绿城桃花源南区（杭州）等，并以冷湾薄壁型钢住宅研究获得了国务院办法的“国家科技进步二等奖”
                                            随着中国大规模建设的逐步完成及国家对低层低密度住宅项目的建设控制，自2007年开始，居其将主要研究方向和精力转入提升拥护室内环境品质和居住品质，在公司合伙人戴昆先生和江玲女士直接领导下，在短短几年内，居其是被在高端住宅室内设计领取取得了长足发展，成为行业领先的住宅室内设计及全程软装服务提供商。
                                        </p>
                                    </div>
                                    <div class="block">
                                        <p>因为专注，使我们一直与世界最新和最前沿的设计理念和技术接轨；因为专注，使我们通过数千家案例以精准把握用户需求；因为专注，我们致力于向用户提供完整的“一站式”服务。
                                            最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
						<button class="nextButton"></button>
						<button class="prevButton"></button>
					</div>
				</li>
                <li>
                    <div class="aside">
                        <img src="{CSS_PATH}zhudao/images/four_2.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="wrap">
                            <div class="inside">
                                <div class="inner">
                                    <div class="block">
                                        <p>最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。</p>
                                        <p>专业全面的设计服务包括：</p>
                                        <ul class="service">
                                            <li>住宅室内设计</li>
                                            <li>住宅室内设计</li>
                                            <li>住宅室内设计</li>
                                        </ul>
                                    </div>
                                    <div class="block">
                                        <ul class="service">
                                            <li>住宅室内设计</li>
                                            <li>住宅室内设计</li>
                                        </ul>
                                        <p>获奖情况</p>
                                        <ul class="award">
                                            <li>企业团体会员证书</li>
                                            <li>国家科学进步奖</li>
                                            <li>企业团体会员证书</li>
                                            <li>国家科学进步奖</li>
                                            <li>中国建设科技自主创新优势企业</li>
                                            <li>第七届中国国际室内设计双年展十佳设计机构</li>
                                        </ul>
                                    </div>
                                    <div class="longList">
                                        <p>合作伙伴</p>
                                        <ul class="cooperate">
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="nextButton"></button>
                        <button class="prevButton"></button>
                    </div>
                </li>
                <li>
                    <div class="aside">
                        <img src="{CSS_PATH}zhudao/images/four_2.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="wrap">
                            <div class="inside">
                                <div class="inner">
                                    <div class="block">
                                        <p>最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。最好也许只是梦想，我们会保持专注，努力追逐，为提升中国的居住品质而努力。</p>
                                        <p>专业全面的设计服务包括：</p>
                                        <ul class="service">
                                            <li>家具货品的全球直采体系：居其建立了强大的海外采购部门及海外分支机构，居其建立了强大的海外采购部门及海外分支机构居其建立了强大的海外采购部门及海外分支机构</li>
                                            <li>家具货品的全球直采体系：居其建立了强大的海外采购部门及海外分支机构，居其建立了强大的海外采购部门及海外分支机构居其建立了强大的海外采购部门及海外分支机构</li>
                                            <li>家具货品的全球直采体系：居其建立了强大的海外采购部门及海外分支机构，居其建立了强大的海外采购部门及海外分支机构居其建立了强大的海外采购部门及海外分支机构</li>
                                        </ul>
                                    </div>

                                    <div class="longList">
                                        <p>合作厂牌</p>
                                        <ul class="cooperate">
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                            <li><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""><img src="{CSS_PATH}zhudao/images/cooperate.jpg" alt=""></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="nextButton"></button>
                        <button class="prevButton"></button>
                    </div>
                </li>
                <li>
                    <div class="aside">
                        <img src="{CSS_PATH}zhudao/images/four_4.jpg" alt="">
                    </div>
                    <div class="text">
                        <div class="wrap">
                            <div class="inside">
                                <div class="inner">
                                    <div class="block">
                                        <p>专注是一种态度，也是一种精神。“把每一件事都尽力做到最好”一直是居其所坚持的企业精神。</p>
                                        <p>“居其”取自居者得其所之意。于1999年由传世人罗川显示及六位同事在深圳创立。公司从成立至今，一直专注于住宅技术研究和设计服务领域，致力于提升中国住宅的技术及设计水平。</p>
                                        <p>“居其”取自居者得其所之意。于1999年由传世人罗川显示及六位同事在深圳创立。公司从成立至今，一直专注于住宅技术研究和设计服务领域，致力于提升中国住宅的技术及设计水平。</p>
                                    </div>
                                    <div class="block">
                                        <ul class="service">
                                            <li>家具货品的全球直采体系：居其建立了强大的海外采购部门及海外分支机构，居其建立了强大的海外采购部门及海外分支机构居其建立了强大的海外采购部门及海外分支机构</li>
                                            <li>家具货品的全球直采体系：居其建立了强大的海外采购部门及海外分支机构，居其建立了强大的海外采购部门及海外分支机构居其建立了强大的海外采购部门及海外分支机构</li>
                                            <li>家具货品的全球直采体系：居其建立了强大的海外采购部门及海外分支机构，居其建立了强大的海外采购部门及海外分支机构居其建立了强大的海外采购部门及海外分支机构</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="nextButton"></button>
                        <button class="prevButton"></button>
                    </div>
                </li>
			</ul>
		</div>
        <div class="instance">
            <ul class="hd_part">
                <li class="on">
                    <h6>时间</h6>
                    <ul class="sub_title">
                        <li class="on">2015</li>
                        <li>2014</li>
                        <li>2013</li>
                        <li>2012</li>
                        <li>2011</li>
                        <li>2010</li>
                        <li>2009</li>
                        <li>2008</li>
                    </ul>
                </li>
                <li>
                    <h6>类型</h6>
                    <ul class="sub_title">
                        <li class="on">别墅</li>
                        <li>公寓项目</li>
                        <li>售楼处</li>
                        <li>会所</li>
                    </ul>
                </li>
                <li>
                    <h6>客户</h6>
                    <ul class="sub_title">
                        <li class="on">中海地产</li>
                        <li>保利地产</li>
                        <li>绿城地产</li>
                        <li>远洋地产</li>
                        <li>中信地产</li>
                        <li>其他地产</li>
                    </ul>
                </li>
            </ul>
            <ul class="bd_part">
                <li>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                    <ul class="pic_list clearfix">
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_1.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_3.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_4.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                        <li>
                            <div class="pic">
                                <img src="{CSS_PATH}zhudao/images/instance_2.jpg" alt="">
                                <div class="text">介绍介绍介绍</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="update">
            <ul class="hd_part">
                <li class="on">2012</li>
                <li>2011</li>
                <li>2010</li>
            </ul>
            <ul class="bd_part">
                <li>
                    <div>
                        <img src="{CSS_PATH}zhudao/images/update.jpg" alt="">
                        <div class="text">
                            <p>"绿色生活，舒适生活" 系列主题论坛</p>
                            <p class="time">2012-11-05</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{CSS_PATH}zhudao/images/update.jpg" alt="">
                        <div class="text">
                            <p>"绿色生活，舒适生活" 系列主题论坛</p>
                            <p class="time">2012-11-05</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="{CSS_PATH}zhudao/images/update.jpg" alt="">
                        <div class="text">
                            <p>"绿色生活，舒适生活" 系列主题论坛</p>
                            <p class="time">2012-11-05</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="recruit">
            <div class="wrap">
                <div class="inside">
                    <ul>
                        <li>
                            <p>我们崇尚高品质的家居设计事业</p>
                            <p>也专注于住宅技术研究和设计服务领域。</p>
                            <br>
                            <p>简历及作品请投至<a href="#">zhaopin@ez-home.net</a></p>
                            <p>联系人 谢小姐</p>
                            <p>官方微博<a href="#" >居其美业微招聘</a></p>
                            <br>
                            <p>介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                        </li>
                        <li>
                            <h6>室内设计</h6>
                            <p>职位描述:</p>
                            <ul>
                                <li>建筑、环艺相关专业，重点院校本科以上学历；</li>
                                <li>性别及工作经验不限，欢迎毕业生加入；</li>
                                <li>简历中请附个人作品及全身生活照，请勿重复投递；</li>
                                <li>本科学历底薪5k/月，硕士学历底薪6.5k/月</li>
                            </ul>
                            <p>我们有信心成长成长成长成长！</p>
                            <br>
                            <p>招聘工作我们有信心成长成长成长成长！</p>
                        </li>
                        <li>
                            <h6>海外协调员</h6>
                            <p>职位描述:</p>
                            <ul>
                                <li>建筑、环艺相关专业，重点院校本科以上学历；</li>
                                <li>性别及工作经验不限，欢迎毕业生加入；</li>
                                <li>简历中请附个人作品及全身生活照，请勿重复投递；</li>
                                <li>本科学历底薪5k/月，硕士学历底薪6.5k/月</li>
                            </ul>
                            <p>资历要求:</p>
                            <ul>
                                <li>大学本科以上学历，国际贸易相关专业毕业；</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact">
            <div class="form">
                <form action="">
                    <ul>
                        <li>
                            <div class="dt">姓名</div>
                            <div class="dd">
                                <input type="text">
                            </div>
                        </li>
                        <li>
                            <div class="dt">邮件</div>
                            <div class="dd">
                                <input type="email">
                            </div>
                        </li>
                        <li>
                            <div class="dt">留言</div>
                            <div class="dd">
                                <textarea name="" id="" ></textarea>
                            </div>
                        </li>
                    </ul>
                    <a href="#">发送您的请求</a>
                </form>
            </div>
            <div class="intro">
                <h5>居其美业</h5>
                <p>北京市朝阳区北苑路甲13号</p>
                <p>北辰新纪元大厦2号楼9层</p>
                <p>邮编 100107</p>
                <p>电话 010-84945904</p>
                <p>传真 010-84923315</p>
                <p>E-mail <a href="#">easyhome@ez-home.net</a></p>
                <p>网址 <a href="#">www.easy-home.net.cn</a></p>
            </div>
        </div>
	</div>
	<div id="footer">
		<div class="copyright">
			<span>Copyright @ EASYHOME,all right reserved</span>
			<span class="italic">Site by sunasia design</span>
		</div>
		<ul class="bottom_logo">
            <li>
                <img src="{CSS_PATH}zhudao/images/footer_logo.jpg" alt="">
                <div class="share">
                    <a href=""><img src="{CSS_PATH}zhudao/images/share1.jpg" alt=""></a>
                    <a href=""><img src="{CSS_PATH}zhudao/images/share2.jpg" alt=""></a>
                    <a href=""><img src="{CSS_PATH}zhudao/images/share3.jpg" alt=""></a>
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/footer_logo.jpg" alt="">
                <div class="share">
                    <a href=""><img src="{CSS_PATH}zhudao/images/share1.jpg" alt=""></a>
                    <a href=""><img src="{CSS_PATH}zhudao/images/share2.jpg" alt=""></a>
                    <a href=""><img src="{CSS_PATH}zhudao/images/share3.jpg" alt=""></a>
                </div>
            </li>
            <li>
                <img src="{CSS_PATH}zhudao/images/footer_logo.jpg" alt="">
                <div class="share">
                    <a href=""><img src="{CSS_PATH}zhudao/images/share1.jpg" alt=""></a>
                    <a href=""><img src="{CSS_PATH}zhudao/images/share2.jpg" alt=""></a>
                    <a href=""><img src="{CSS_PATH}zhudao/images/share3.jpg" alt=""></a>
                </div>
            </li>
		</ul>
	</div>

    <div class="alert">
        <a class="quit">返回</a>
        <div class="lists">
            <ul class="clearfix">
                <li><img src="{CSS_PATH}zhudao/images/img4.jpg" alt=""></li>
                <li><img src="{CSS_PATH}zhudao/images/img5.jpg" alt=""></li>
                <li><img src="{CSS_PATH}zhudao/images/img5.jpg" alt=""></li>
                <li><img src="{CSS_PATH}zhudao/images/img4.jpg" alt=""></li>
                <li><img src="{CSS_PATH}zhudao/images/img4.jpg" alt=""></li>
            </ul>
        </div>
        <div class="hint">
            <div class="album">
                <h5>红星地产上海吴中路国际广场LOFT</h5>
                <span class="now">1</span>/
                <span class="total">5</span>
            </div>
            <button class="nextPic"></button>
            <button class="prevPic"></button>
        </div>
    </div>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/responsiveslides.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>